            <section class="founder-card">
              <div class="two-col card-color">
                <img class="founder-photo" src="/assets/images/founder.png" alt="founder Dmitry Anoshin photo" />
                <div class="founder-text-block">
                  <h5>Meet the founder</h5>
                  <h2 class="gradient">Dmitry Anoshin</h2>
                  <ul class="founder-ul">
                    <li>14 years in data analytics, 8 years in MAANG (Amazon, Microsoft)</li>
                    <li>Founder of Rock Your Data - data analytics consulting company</li>
                    <li>Author of numerous books on Data Analytics</li>
                    <li>Teaching Cloud Computing Fundamentals at the University of Victoria since 2021</li>
                  </ul>
                  <ul class="logos">
                    <li><img src="/assets/images/microsoft-azure.svg" /></li>
                    <li><img src="/assets/images/amazon.svg" /></li>
                    <li><img src="/assets/images/shield-horz-white-1.svg" /></li>
                  </ul>
                </div>
              </div>
            </section>
