<header>
    <!-- Navigation menu -->
      <nav>
        <div class="container">
          <a href="/">
            <img class="logo" src="/assets/RockYourData_logo.svg">
          </a>
          
          <div class="menu-icon" onclick="toggleMenu()">
            <iconify-icon icon="iconamoon:menu-burger-horizontal-duotone"></iconify-icon>
          </div>

          <div class="navbar-nav">
            <div class="navbar-links">
              <a href="/pages/about/">About</a>
              <!-- <a href="https://surfalytics.com/#services">Services</a> -->
              <a href="https://medium.com/rock-your-data" target="_blank">Blog</a>
              <a href="mailto:hello@rockyourdata.cloud">Contact Us</a>
            </div>
            <a  href="https://surfalytics.com/" class="cta-filled">Surfalytics Community</a>
          </div>
        </div>
      </nav>
        <!-- Menu mobile -->
        <div class="menu-modal" id="menuModal">
          <div class="menu-content">
              <div class="close-modal" onclick="toggleMenu()">
                <iconify-icon icon="material-symbols-light:close"></iconify-icon>
              </div>
              <details>
                <summary><a href="/pages/about/">About</a></summary>
              </details>
              <details>
                <summary>
                  <a href="https://medium.com/rock-your-data" target="_blank">Blog</a>
                </summary>
              </details>
              <details>
                <summary>               
                  <a href="mailto:support@rockyourdata">Contact Us</a>
                </summary>
              </details>
              
              <a href="https://surfalytics.com/" class="cta-filled">Surfalytics Community</a>
          </div>
        </div> 
  </header>