<section>
    <div class="swag-section card-color">
        <div class="swag-text">
            <h2 class="gradient">Empower Your Data Career with Surfalytics 🏄🏻‍♂️</h2>
            <p>Join community designed for data enthusiasts and professionals passionate about advancing their careers and achieving their dreams.</p>
            <ul>
                <li>Exclusive Content & Resources</li>
                <li>Expert-Led Workshops</li>
                <li>Project Showcases</li>
                <li>Networking Opportunities</li>
            </ul>
            <a href="https://surfalytics.com/" target="_blank">
                <button class="cta-filled">Learn more</button>
            </a>
        </div>
        <img class="swag-img" src="/public/images/cloud-network.svg" />
    </div>
</section>
